<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Todd - Online TDD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href='../../ratpack/public/styles/main.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="row">

            <div class="col-md-12 text-center logo">
                <h1 class="text-green">T<span class="text-blue">o</span>dd</h1>

                <h3>stands for <span class="text-blue">Online</span> <span class="text-green">TDD</span></h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>